<nav class="navbar navbar-light bg-light fixed-top header-section">
  <div class="header-section-top px-4">
    <a class="navbar-brand" href="#">
      <img src="SingleAirBusLogo.png" />
    </a>
    <div>
      <button class="btn btn-light" type="button">
        <i class="fas fa-upload"></i>
        Upload File
      </button>
      <button class="btn btn-light" type="button">
        <i class="fas fa-save"></i>
        Save
      </button>
      <button class="btn btn-light" type="button">
        <i class="fas fa-print"></i> Print
      </button>
    </div>
  </div>
  <div class="header-section-bottom px-4">
    <div class="header-search-filter-wrapper">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
      <button type="button" class="btn btn-light">
        <i class="fas fa-filter"></i> Filter
      </button>
    </div>
  </div>
</nav>
