<!-- src/app/sidebar/sidebar.component.html -->
<nav class="sidebar bg-light fixed-top fixed-left">
  <h4 class="p-3">Menu</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#"> <i class="fas fa-home"></i> Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-bell"></i> Notifications
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> <i class="fas fa-gear"></i> Settings </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-solid fa-envelope-open"></i> Email
      </a>
    </li>
  </ul>
</nav>
